
<!DOCTYPE html>
<html>
  <head>
    <style>
      .hidden{
        /* display:none; */
      }
      #box{
        border:solid
      }
      #top{
      margin:10px;
      border:solid;
      display:grid;
      grid-template-columns:1fr 1fr 1fr;
    }
      #topright{
        margin:1px;
        grid-column-start: 1;
          grid-column-end:2;
        /* border:solid */
      }
      #topmiddle{
        margin:1px;
        grid-column-start: 2;
        grid-column-end:3;
        /* border:solid */
      }
      #topleft{
        margin:1px;
        grid-column-start: 3;
        grid-column-end:4;

        }
    #middle{
      margin:10px;
      border:solid;
      display:grid;
      grid-template-columns:1fr 1fr 1fr;
    }
    #middleright{
      margin-left:5px;
      margin:top:5px;
      grid-column-start: 1;
        grid-column-end:2;
      border:solid
    }
    #middlemiddle{
      margin-left:5px;
      margin:top:5px;
      grid-column-start: 2;
      grid-column-end:3;
      border:solid
    }
    #middleleft{
      border:solid;
      margin-left:5px;
      margin:top:5px;
      grid-column-start: 3;
      grid-column-end:3;
      }

      #footer{
        margin:10px;
        border:solid;
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
      }
      #footerright{
        margin-left:5px;
        margin:top:5px;
        grid-column-start: 1;
          grid-column-end:2;
        border:solid
      }
      #footermiddle{
        margin-left:5px;
        margin:top:5px;
        grid-column-start: 2;
        grid-column-end:3;
        border:solid
      }
      #footerleft{
        border:solid;
        margin-left:5px;
        margin:top:5px;
        grid-column-start: 3;
        grid-column-end:3;
        }
        #topright:hover{
          cursor: pointer;
        }
        #topmiddle:hover{
          cursor:pointer;
        }
        #topleft:hover{
          cursor:pointer;
        }
        .Title{
          /* color:red; */
          text-align: center;
        }
    </style>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="/main.css"> -->
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- <link rel="stylesheet" href="./public/css/style.css"> -->
    <title>Vacation</title>
  </head>
  <body>
    <h1 class="Title">{{CityName}}</h1>
    <div id="box">
      <div id="top">
        <section id="topright">
        <a href="/losangelos">Los Angelos</a>
        </section>

        <section id="topmiddle">
        <a href="/sanantonio">San Antonio</a>
        </section>

        <section id="topleft">
        <a href="/chicago">Chicago</a>
        </section>

      </div>
        <h1 class="Title" id="CityName">
          {{CityName}}
        </h1>
      <div id="middle">
        <section id= "middleright">
          <p class="A hidden">
            hi
          </p>

          <p class="B hidden">
            hi
          </p>

          <p class="C hidden">
            hi
          </p>

        </section>

        <section id="middlemiddle">
          <p class="A hidden">

          </p>

          <p class="B hidden">

          </p>

          <p class="C hidden">

          </p>

        </section>

        <section id="middleleft">
          <p class="A hidden">

          </p>

          <p class="B hidden">

          </p>

          <p class="C hidden">

          </p>

        </section>

      </div>

      <div id="footer">
        <section id="footerright">

          <p class="A hidden">

          </p>

          <p class="B hidden">

          </p>

          <p class="C hidden">

          </p>

        </section>

        <section id="footermiddle">

          <p class="A hidden">

          </p>

          <p class="B hidden">

          </p>

          <p class="C hidden">

          </p>

        </section>

        <section id="footerleft">

          <p class="A hidden">

          </p>

          <p class="B hidden">

          </p>

          <p class="C hidden">

          </p>

        </section>
      </div>
    </div>
  </body>
</html>
