
<!DOCTYPE html>
<html>
  <head>
    <style>
      .hidden{
        display:none;
      }
      #box{
        border:solid
      }
      #top{
      margin:10px;
      border:solid;
      display:grid;
      grid-template-columns:1fr 1fr 1fr;
    }
      #toprigth{
        margin:1px;
        grid-column-start: 1;
          grid-column-end:2;
        /* border:solid */
      }
      #topmiddle{
        margin:1px;
        grid-column-start: 2;
        grid-column-end:3;
        /* border:solid */
      }
      #topleft{
        margin:1px;
        grid-column-start: 3;
        grid-column-end:4;

        }
    #middle{
      margin:10px;
      border:solid;
      display:grid;
      grid-template-columns:1fr 1fr 1fr;
    }
    #middlerigth{
      margin-left:5px;
      margin:top:5px;
      grid-column-start: 1;
        grid-column-end:2;
      /* border:solid */
    }
    #middlemiddle{
      margin-left:5px;
      margin:top:5px;
      grid-column-start: 2;
      grid-column-end:3;
      /* border:solid */
    }
    #middleleft{
      margin-left:5px;
      margin:top:5px;
      grid-column-start: 3;
      grid-column-end:3;

      }

      #footer{
        margin:10px;
        border:solid;
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
      }
      #footerrigth{
        margin-left:5px;
        margin:top:5px;
        grid-column-start: 1;
          grid-column-end:2;
        /* border:solid */
      }
      #footermiddle{
        margin-left:5px;
        margin:top:5px;
        grid-column-start: 2;
        grid-column-end:3;
        /* border:solid */
      }
      #footerleft{
        margin-left:5px;
        margin:top:5px;
        grid-column-start: 3;
        grid-column-end:3;

        }

)

    </style>


    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="/main.css"> -->
    <link rel="stylesheet" href="./public/css/style.css" />
    <!-- <link rel="stylesheet" href="./public/css/style.css"> -->
    <title>Hi</title>
  </head>
  <body>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <div id="box">
      <div id="top">
        <section id="topright">
          City A
        </section>

        <section id="topmiddle">
          City B
        </section>

        <section id="topleft">
          City C
        </section>

      </div>

      <div id="middle">
        <section id= "middleright">
          <p class="A hidden">
            hi
          </p>

          <p class="B hidden">
            hi
          </p>

          <p class="C hidden">
            hi
          </p>

        </section>

        <section id="middlemiddle">
          <p class="A hidden">

          </p>

          <p class="B hidden">

          </p>

          <p class="C hidden">

          </p>

        </section>

        <section id="middleleft">
          <p class="A hidden">

          </p>

          <p class="B hidden">

          </p>

          <p class="C hidden">

          </p>

        </section>

      </div>

      <div id="footer">
        <section id="footerright">

          <p class="A hidden">

          </p>

          <p class="B hidden">

          </p>

          <p class="C hidden">

          </p>

        </section>

        <section id="footermiddle">

          <p class="A hidden">

          </p>

          <p class="B hidden">

          </p>

          <p class="C hidden">

          </p>

        </section>

        <section id="footerleft">

          <p class="A hidden">

          </p>

          <p class="B hidden">

          </p>

          <p class="C hidden">

          </p>

        </section>
      </div>
    </div>
  </body>
</html>
